@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

:root {
    font-family: 'Indie Flower', cursive;
    font-size: 62.5%;
    margin: 0 auto;
    padding: 0;
}

main {
    font-size: 2rem;
}

.heading--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overall--container {
    display: flex;
}

.container--sizing {
    border: solid 1px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 2rem;
}

button {
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
}

.align--center {
    display: flex;
    align-items: center;
}

.line--through {
    text-decoration: line-through wavy red;
}
