@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

:root {
    font-family: 'Indie Flower', cursive;
}

button {
    padding: 1rem;
}

.line--through {
    text-decoration: line-through wavy red;
}
