@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

:root {
    font-family: 'Indie Flower', cursive;
    font-size: 62.5%;
    margin: 0 auto;
    padding: 0;
}

main {
    font-size: 2rem;
}

.heading--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overall--container {
    display: flex;
    flex-direction: column;
}

.container--sizing {
    border: solid 1px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 2rem;
}

.list--sizing {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.list--sizing h3{
    margin-bottom: 1rem;

}

label {
    display: inline-block;
    margin-bottom: 0.7rem;
}


.align--center {
    display: flex;
    align-items: center;
}


.line--through {
    text-decoration: line-through wavy red;
    -webkit-text-decoration: line-through wavy red;
}



/* input:checked + label {
    text-decoration: line-through wavy red;
    -webkit-text-decoration: line-through wavy red;
}
